#content {
    max-width: 1900px;
    margin: 0 auto;
}
#logo_link {
    text-align: center;
    padding-top: 5px;
    
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 25px;
}
nav a:hover {
    background-color: #A3BBAD;
    color: black;
    text-decoration: underline;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-img {
    width: 100%;
}
#hero-box{
    width: 1900px;
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background {
    height: 725px;
  background-color: white;
}
body {
    background-color: #27A3B9;
    font-family: 'Times New Roman', Georgia, Cambria;
    padding: 0;
    margin: 0;
}
header {
    background-color: #65532F ;
    
}
.book, .join {
    background-color: #A3BBAD;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #27A3B9;
    color: white;
    text-decoration: underline;
}
.msg {
    background-color: #357266;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #65532F;
    padding: 25px 50px;
    margin-top: 200px;
}
footer h3 {
    color: #A3BBAD;
    font-size: 1.2em;
}
footer a {
    color: #A3BBAD;
    text-decoration: none;
    font-size: 1.2em;
}
footer a:hover {
    color: #357266;
    text-decoration: underline;
    
}
footer p {
    font-size: 1.2em;
}
.home-title {
    color: black;
    text-align: center;
    font-family: 'Brush Script MT', 'Times New Roman', Georgia;
    font-size: 4em;
    margin-top: 10px;
}
h4 {
    color: white;
    text-align: center;
}
.msg h2 {
    color: black;
    font-family: 'Brush Script MT', 'Times New Roman', Arial;
    font-size: 2em;
}
.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}
h2{
    margin: 0;
}
footer .social{
    padding: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #357266;
}