body {
    background-color: pink;
}
a {
    text-align: center;
    color: white;
    font-size: 100px;
    margin: 250px;
}
a:hover {
    color: black;
}
h2 {
    font-size: 80%;
    color: white;
    text-align: center;
}
p {
    text-align: center;
    margin: 30px;
    color: black;
    font-size: 120%;
}
img {
    width: 30%;
    display: block;
    margin: auto;
    
}
.quote{
    font-size: 30px;
    text-align: center;
    margin: 100px;
    margin-top: auto;
}
footer {
    text-align: center;

}