#content{
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
    background-color: #07417B;
    width: 100%;
    font-family: tahoma, 'Times New Roman', Times, serif;
}
header{
    max-width: 1900px;
    background-color: #424242;
    width: 100%;
}
.logo{
    max-width: 181px;
    width: 100%;
}
nav a{
    width: 100%;
    margin-top: -70px;
    text-align: center;
    font-size: 30px;
    color: white;
    text-decoration: none;   
}
nav a:hover{
    background-color: #606060;
    border-radius: 25px;
    text-decoration: underline;
    padding: 5px;
    margin-bottom: 15px;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
}
#home{
    grid-column: 2;
}
#hero{
    max-width: 1900px;
    max-height: 626px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: end;
}
#hero_box{
    max-width: 1900px;
    width: 100%;
    text-align: center;
    grid-column: 1/6;
    grid-row: 1/2;
}
#hero-img{
    max-width: 1880px;
    max-height: 600px;
    height: 100%;
    width: 100%;
    grid-column: 1/6;
    grid-row: 1/2;
    border: solid #424242 10px;
    box-shadow: #000075 5px 5px 5px;
}
.button-box{
    background-color: #606060;
    max-width: 155px;
    width: 100%;
    max-height: 80px;
    height: 100%;
    grid-column: 3 ;
    grid-row: 1;
    border-radius: 25px;
}
.book{
    max-width: 155px;
    width: 100%;
    text-align: center;
    font-size: 65px;
    color: white;
    padding: 7px;
    text-decoration: none;
}
.book:hover{
    color: #000075;
    text-decoration: underline;
}
#featured{
    max-width: 1900px;
    max-height: 400px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
}
h1{
    grid-column: 1/6;
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* #display{
    padding: 50px;
    width: 100%;
    text-align: center;
    grid-column: 1/6;
    grid-row: 2;
} */
#cherry{
    grid-column: 2;
    grid-row: 2;
    max-width: 300px;
    width: 100%;
    text-align: center;
    border: solid #424242 10px;
    border-radius: 25px;
    box-shadow: #000075 5px 5px 5px;
    transition: transform .5s;
}
#cherry:hover{
    transform: scale(1.6);
}
#villan{
    max-width: 300px;
    width: 100%;
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    border: solid #424242 10px;
    border-radius: 25px;
    box-shadow: #000075 5px 5px 5px;
    transition: transform .5s;
}
#villan:hover{
    transform: scale(1.6);
}
#eve{
    max-width: 300px;
    width: 100%;
    grid-column: 4;
    grid-row: 2;
    border: solid #424242 10px;
    border-radius: 25px;
    box-shadow: #000075 5px 5px 5px;
    transition: transform .5s;
}
#eve:hover{
    transform: scale(1.6);
}

#welcome{
    max-height: 1150px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-top: 100px;
}
h2{
    width: 100%;
    grid-column: 2/5;
    grid-row: 1;
    text-align: center;
    font-size: 75px;
    z-index: 1;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.msg_img{
    max-width: 1880px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 1/2;
    border: solid #606060 10px;
}
.welcome_msg{
    max-width: 1889px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 1;
    z-index: 1;
    color: white;
    background-color: #42424250 ;
    padding-top: 25px;
    font-size: 40px;
    text-align: center;
    margin-top: 250px;
    font-family: tahoma, 'Times New Roman', Times, serif;
}
p{
    max-width: 1900px;
    width: 100%;
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    color: white;
    font-size: 50px;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #424242;
    max-width: 1900px;
    width: 100%;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    font-family: tahoma, 'Times New Roman', Times, serif;
}
footer a:hover {
    color: #000075;
    text-decoration: underline;
    
}
#copy{
    grid-column: 1;
    grid-row: 1;
    font-size: 1.2em;
    color: white;
    text-align: center;
}
#contact{
    grid-column: 3/5;
    grid-row: 1;
    font-size: 1.2em;
    color: white;
    text-align: left;
}
#plan{
    grid-column: 5;
    font-size: 1.2em;
    color: white;
    text-align: center;
}
.social{
    grid-column: 7;
}
.title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}
.store{
    text-align: center;
    grid-column: 2/5;
    font-size: 100px;
    margin-top: 25px;
    padding-bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.shop_msg{
    max-width: 1000px;
    width: 100%;
    grid-column: 2/5;
    margin-top: -100px;
    font-size: 30px;
    background-color: #606060;
    border-radius: 25px;
    padding: 15px;
    border: solid #606060 15px;
    box-shadow: #000075 5px 5px 5px;
    font-family: tahoma, 'Times New Roman', Times, serif;
}
.gallery{
    max-width: 1900px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    font-family: tahoma, 'Times New Roman', Times, serif;
}
.image{
    grid-column: 1;
    max-width: 300px;
    width: 100%;
    border: solid #424242 10px;
    border-radius: 25px;
    margin: 25px;
    box-shadow: #000075 5px 5px 5px;
}
.overlay{
    border-radius: 25px;
    margin: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#page3{
    max-width: 1900px;
    width: 100%;
    background-color: #07417B;
}
main{
    max-width: 1900px;
    width: 100%;
    background-image: url("blogback.jpg");
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px 500px 500px 500px;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.background{
    grid-column: 1/8;
    grid-row: 1/5;
    max-width: 1900px;
    width: 100%;
    max-height: 2000px;
    height: 100%;
}
h4{
    grid-column: 2/7;
    grid-row: 1;
    font-size: 100px;
    text-align: center;
    color: white;
    padding: 50px;
    background-color: #60606060;
    border-radius: 100px;
    font-style: oblique;
    font-family: tahoma, 'Times New Roman', Times, serif;
}
#p1{
    grid-column: 1/7;
    grid-row: 2;
    max-width: 1000px;
    width: 100%;
    font-size: 35px;
    padding: 25px;
    background-color: #606060;
    border:solid #000075 10px;
    border-radius: 100px;
    box-shadow: black 5px 5px 5px;
}
.opal{
    grid-column: 6/8;
    grid-row: 2;
    max-width: 400px;
    width: 100%;
    border: solid #000075 10px;
    border-radius: 100px;
    box-shadow: black 5px 5px 5px;
    
}
#p2{
    grid-column: 3/7;
    grid-row: 3;
    font-size: 35px;
    padding: 50px;
    margin-left: 100px;
    text-align: center;
    background-color: #606060;
    border:solid #000075 10px;
    border-radius: 50px;
    box-shadow: black 5px 5px 5px;
}
#blossom{
    grid-column: 1/3;
    grid-row: 3;
    max-width: 400px;
    width: 100%;
    margin-left: 100px;
    text-align: center;
    border: solid #000075 10px;
    border-radius: 100px;
    box-shadow: black 5px 5px 5px;
}
#p3{
    grid-column: 1/5;
    grid-row: 4;
    font-size: 35px;
    padding: 50px;
    margin-bottom: 100px;
    margin-right: 100px;
    background-color: #606060;
    border:solid #000075 10px;
    border-radius: 100px;
    box-shadow: black 5px 5px 5px;
}
#flower{
    grid-column: 6/8;
    grid-row: 4;
    max-width: 400px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    margin-bottom: 50px;
    border: solid #000075 10px;
    border-radius: 100px;
    box-shadow: black 5px 5px 5px;
}
